<header class="header">
  <nav class="nav">
    <div class="container flexbox flexbox--centered-sides">
      <a href="#">
        <img src="./img/img--logo.png" alt="DinoDev AI logo" width="48" height="48" class="img img--logo">
      </a>
      <ul class="list d-flex gap-2">
        <li>
          <a routerLink="/home" class="link interactive">Home</a>
        </li>
        <li>
          <a routerLink="/about" class="link interactive">About</a>
        </li>
        <li>
          <a routerLink="/features" class="link interactive">Features</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

